USE [master]
GO
/****** Object:  Database [FlutterAppDB]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE DATABASE [FlutterAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlutterAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FlutterAppDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlutterAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FlutterAppDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlutterAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlutterAppDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppRequests]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverIds] [nvarchar](max) NOT NULL,
	[ReferenceId] [int] NULL,
	[DeletedByIds] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AppRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Grade] [int] NOT NULL,
	[IsGradeLocked] [bit] NOT NULL,
	[HomeroomTeacherId] [int] NULL,
	[Cohort] [nvarchar](max) NOT NULL,
	[StartYear] [int] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubMembers]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMembers](
	[ClubId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JoinedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClubMembers] PRIMARY KEY CLUSTERED 
(
	[ClubId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PresidentId] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clubs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[AttendanceScore] [float] NULL,
	[OralScore1] [float] NULL,
	[OralScore2] [float] NULL,
	[FifteenMinScore1] [float] NULL,
	[FifteenMinScore2] [float] NULL,
	[MidtermScore] [float] NULL,
	[FinalScore] [float] NULL,
	[AcademicYear] [nvarchar](max) NOT NULL,
	[Semester] [int] NOT NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RelatedRequestId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleRequests]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[RequestType] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[RequestedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MakeUpDate] [datetime2](7) NULL,
	[MakeUpSlot] [int] NULL,
 CONSTRAINT [PK_ScheduleRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Slot] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[SubjectCode] [nvarchar](max) NOT NULL,
	[ClassId] [int] NOT NULL,
	[ClassSize] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Grade] [int] NOT NULL,
	[Group] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TeacherId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
 CONSTRAINT [PK_TeacherSubjects] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/07/2026 8:03:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[StudentId] [nvarchar](450) NULL,
	[ClassId] [int] NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[ResetPasswordOtp] [nvarchar](max) NULL,
	[ResetPasswordOtpExpiry] [datetime2](7) NULL,
	[SubjectGroup] [nvarchar](max) NULL,
	[LastReadNotificationTime] [datetime2](7) NULL,
	[ChildId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260712153841_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260712160519_SeedSubjectsAndTeachers', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260712162247_AddMakeUpDateSlot', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[AppRequests] ON 

INSERT [dbo].[AppRequests] ([Id], [Title], [Content], [Category], [Status], [CreatedDate], [SenderId], [ReceiverIds], [ReferenceId], [DeletedByIds]) VALUES (7, N'Đơn xin dạy bù lớp 10A - K3 - Môn Toán', N'{"Type":"MAKEUP","ScheduleId":36,"NewDate":"2026-07-17","NewSlot":5,"Reason":"ban"}', N'Lịch học', N'Đã duyệt', CAST(N'2026-07-15T20:01:47.3191062' AS DateTime2), 100, N'ADMIN', NULL, N'')
INSERT [dbo].[AppRequests] ([Id], [Title], [Content], [Category], [Status], [CreatedDate], [SenderId], [ReceiverIds], [ReferenceId], [DeletedByIds]) VALUES (8, N'Đơn xin nghỉ dạy lớp 10A - K3 - Môn Toán', N'{"Type":"LEAVE","ScheduleId":37,"Reason":"dau"}', N'Lịch học', N'Đã duyệt', CAST(N'2026-07-15T20:02:06.1539793' AS DateTime2), 100, N'ADMIN', NULL, N'')
INSERT [dbo].[AppRequests] ([Id], [Title], [Content], [Category], [Status], [CreatedDate], [SenderId], [ReceiverIds], [ReferenceId], [DeletedByIds]) VALUES (9, N'Yêu cầu tham gia CLB Lập trình & AI', N'thich', N'CLB_JOIN', N'Từ chối', CAST(N'2026-07-15T22:46:20.7848847' AS DateTime2), 3, N'5', 3, N'')
SET IDENTITY_INSERT [dbo].[AppRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [Name], [Grade], [IsGradeLocked], [HomeroomTeacherId], [Cohort], [StartYear]) VALUES (1, N'A', 10, 0, 100, N'K3', 2025)
INSERT [dbo].[Classes] ([Id], [Name], [Grade], [IsGradeLocked], [HomeroomTeacherId], [Cohort], [StartYear]) VALUES (2, N'A01', 10, 0, NULL, N'K3', 2025)
INSERT [dbo].[Classes] ([Id], [Name], [Grade], [IsGradeLocked], [HomeroomTeacherId], [Cohort], [StartYear]) VALUES (3, N'D', 10, 0, 103, N'K3', 2025)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
INSERT [dbo].[ClubMembers] ([ClubId], [UserId], [JoinedDate]) VALUES (1, 4, CAST(N'2026-07-21T06:40:44.5501580' AS DateTime2))
INSERT [dbo].[ClubMembers] ([ClubId], [UserId], [JoinedDate]) VALUES (1, 6, CAST(N'2026-07-21T06:40:44.5501582' AS DateTime2))
INSERT [dbo].[ClubMembers] ([ClubId], [UserId], [JoinedDate]) VALUES (1, 8, CAST(N'2026-07-21T06:40:44.5501588' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Clubs] ON 

INSERT [dbo].[Clubs] ([Id], [Name], [Code], [Type], [Status], [PresidentId], [Description]) VALUES (1, N'CLB Âm nhạc', N'MC', N'Nghệ thuật & Văn hóa', N'HOẠT ĐỘNG', 3, N'')
INSERT [dbo].[Clubs] ([Id], [Name], [Code], [Type], [Status], [PresidentId], [Description]) VALUES (2, N'CLB Bóng rổ', N'BC', N'Thể thao', N'HOẠT ĐỘNG', 4, N'')
INSERT [dbo].[Clubs] ([Id], [Name], [Code], [Type], [Status], [PresidentId], [Description]) VALUES (3, N'CLB Lập trình & AI', N'IT', N'Học thuật', N'HOẠT ĐỘNG', 5, N'')
SET IDENTITY_INSERT [dbo].[Clubs] OFF
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [StudentId], [SubjectId], [ClassId], [AttendanceScore], [OralScore1], [OralScore2], [FifteenMinScore1], [FifteenMinScore2], [MidtermScore], [FinalScore], [AcademicYear], [Semester]) VALUES (4075, 15, 1, 5, 7.8, 8.1, 7.7, 7.8, 7.5, 8.3, 8.2, N'2024-2025', 1)
INSERT [dbo].[Grades] ([Id], [StudentId], [SubjectId], [ClassId], [AttendanceScore], [OralScore1], [OralScore2], [FifteenMinScore1], [FifteenMinScore2], [MidtermScore], [FinalScore], [AcademicYear], [Semester]) VALUES (4076, 15, 1, 5, 7.2, 7.5, 7.6, 8.4, 6.8, 6.5, 8, N'2024-2025', 2)
INSERT [dbo].[Grades] ([Id], [StudentId], [SubjectId], [ClassId], [AttendanceScore], [OralScore1], [OralScore2], [FifteenMinScore1], [FifteenMinScore2], [MidtermScore], [FinalScore], [AcademicYear], [Semester]) VALUES (4077, 15, 2, 5, 7.9, 8, 7.1, 8.1, 6.8, 8.2, 7.9, N'2024-2025', 1)
GO
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [CreatedAt], [RelatedRequestId]) VALUES (1, 1, N'Yêu cầu mới', N'Giảng viên vừa gửi một yêu cầu Leave.', 1, CAST(N'2026-07-12T17:05:34.0464499' AS DateTime2), 6)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [CreatedAt], [RelatedRequestId]) VALUES (2, 1, N'Yêu cầu mới', N'Giảng viên vừa gửi một yêu cầu Makeup.', 1, CAST(N'2026-07-12T17:06:03.8903490' AS DateTime2), 7)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [CreatedAt], [RelatedRequestId]) VALUES (3, 1, N'Yêu cầu mới', N'Giảng viên vừa gửi một yêu cầu Leave.', 1, CAST(N'2026-07-12T17:16:46.5401282' AS DateTime2), 8)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Student')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Name]) VALUES (1, N'A101')
INSERT [dbo].[Rooms] ([Id], [Name]) VALUES (2, N'A102')
INSERT [dbo].[Rooms] ([Id], [Name]) VALUES (3, N'B204')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([Id], [Date], [Slot], [RoomId], [SubjectCode], [ClassId], [ClassSize], [TeacherId], [Status]) VALUES (56, CAST(N'2026-07-16T00:00:00.0000000' AS DateTime2), 3, 1, N'HH 10', 10, 30, 101, N'FUTURE')
INSERT [dbo].[Schedules] ([Id], [Date], [Slot], [RoomId], [SubjectCode], [ClassId], [ClassSize], [TeacherId], [Status]) VALUES (57, CAST(N'2026-07-23T00:00:00.0000000' AS DateTime2), 3, 1, N'HH 10', 10, 30, 101, N'FUTURE')
INSERT [dbo].[Schedules] ([Id], [Date], [Slot], [RoomId], [SubjectCode], [ClassId], [ClassSize], [TeacherId], [Status]) VALUES (58, CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), 3, 1, N'HH 10', 10, 30, 101, N'FUTURE')
GO
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Grade], [Group]) VALUES (1, N'TOAN 10', N'Toán', 10, N'Bắt buộc')
INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Grade], [Group]) VALUES (2, N'NV 10', N'Ngữ văn', 10, N'Bắt buộc')
INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Grade], [Group]) VALUES (3, N'NN1 10', N'Ngoại ngữ 1 (Tiếng Anh)', 10, N'Bắt buộc')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
INSERT [dbo].[TeacherSubjects] ([TeacherId], [SubjectId]) VALUES (100, 1)
INSERT [dbo].[TeacherSubjects] ([TeacherId], [SubjectId]) VALUES (103, 1)
INSERT [dbo].[TeacherSubjects] ([TeacherId], [SubjectId]) VALUES (100, 2)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (3, 2)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (4, 2)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [PhoneNumber], [Email], [Password], [FullName], [StudentId], [ClassId], [AvatarUrl], [DateOfBirth], [ResetPasswordOtp], [ResetPasswordOtpExpiry], [SubjectGroup], [LastReadNotificationTime], [ChildId]) VALUES (1, N'0352578129', N'datvideo04@gmail.com', N'denhat123', N'Phan Thanh Dat', N'ADMIN001', 1, NULL, NULL, N'490588', CAST(N'2026-07-23T08:44:47.8937170' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [PhoneNumber], [Email], [Password], [FullName], [StudentId], [ClassId], [AvatarUrl], [DateOfBirth], [ResetPasswordOtp], [ResetPasswordOtpExpiry], [SubjectGroup], [LastReadNotificationTime], [ChildId]) VALUES (3, N'0900000003', N'student3@fpt.edu.vn', N'password123', N'Student 3 - 10A', N'STU00003', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [PhoneNumber], [Email], [Password], [FullName], [StudentId], [ClassId], [AvatarUrl], [DateOfBirth], [ResetPasswordOtp], [ResetPasswordOtpExpiry], [SubjectGroup], [LastReadNotificationTime], [ChildId]) VALUES (4, N'0900000004', N'student4@fpt.edu.vn', N'password123', N'Student 4 - 10A', N'STU00004', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AppRequests_SenderId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_AppRequests_SenderId] ON [dbo].[AppRequests]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classes_HomeroomTeacherId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Classes_HomeroomTeacherId] ON [dbo].[Classes]
(
	[HomeroomTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClubMembers_UserId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_ClubMembers_UserId] ON [dbo].[ClubMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clubs_PresidentId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Clubs_PresidentId] ON [dbo].[Clubs]
(
	[PresidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Grades_ClassId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Grades_ClassId] ON [dbo].[Grades]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Grades_StudentId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Grades_StudentId] ON [dbo].[Grades]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Grades_SubjectId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Grades_SubjectId] ON [dbo].[Grades]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleRequests_ScheduleId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleRequests_ScheduleId] ON [dbo].[ScheduleRequests]
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleRequests_TeacherId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleRequests_TeacherId] ON [dbo].[ScheduleRequests]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_ClassId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_ClassId] ON [dbo].[Schedules]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_RoomId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_RoomId] ON [dbo].[Schedules]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedules_TeacherId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Schedules_TeacherId] ON [dbo].[Schedules]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherSubjects_SubjectId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_TeacherSubjects_SubjectId] ON [dbo].[TeacherSubjects]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_ChildId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_ChildId] ON [dbo].[Users]
(
	[ChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_ClassId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_ClassId] ON [dbo].[Users]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_PhoneNumber]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_PhoneNumber] ON [dbo].[Users]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_StudentId]    Script Date: 23/07/2026 8:03:39 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_StudentId] ON [dbo].[Users]
(
	[StudentId] ASC
)
WHERE ([StudentId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppRequests] ADD  DEFAULT (N'') FOR [DeletedByIds]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsGradeLocked]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT (N'') FOR [Cohort]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((0)) FOR [StartYear]
GO
ALTER TABLE [dbo].[Clubs] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[Grades] ADD  DEFAULT (N'') FOR [AcademicYear]
GO
ALTER TABLE [dbo].[Grades] ADD  DEFAULT ((0)) FOR [Semester]
GO
ALTER TABLE [dbo].[AppRequests]  WITH CHECK ADD  CONSTRAINT [FK_AppRequests_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppRequests] CHECK CONSTRAINT [FK_AppRequests_Users_SenderId]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Users_HomeroomTeacherId] FOREIGN KEY([HomeroomTeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Users_HomeroomTeacherId]
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClubMembers_Clubs_ClubId] FOREIGN KEY([ClubId])
REFERENCES [dbo].[Clubs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClubMembers] CHECK CONSTRAINT [FK_ClubMembers_Clubs_ClubId]
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClubMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClubMembers] CHECK CONSTRAINT [FK_ClubMembers_Users_UserId]
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD  CONSTRAINT [FK_Clubs_Users_PresidentId] FOREIGN KEY([PresidentId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Clubs] CHECK CONSTRAINT [FK_Clubs_Users_PresidentId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Classes_ClassId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Users_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Users_StudentId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequests_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [FK_ScheduleRequests_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequests_Users_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [FK_ScheduleRequests_Users_TeacherId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Classes_ClassId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Rooms_RoomId]
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD  CONSTRAINT [FK_Schedules_Users_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Schedules] CHECK CONSTRAINT [FK_Schedules_Users_TeacherId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Users_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Users_TeacherId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Classes_ClassId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_ChildId] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_ChildId]
GO
USE [master]
GO
